- title t('.title')
.full-block.upper-page 
	.birlestir
		.column-14
			%h1=t('.aboutus_header') 
		.column-12.body-text
			%p=t('.aboutus_body') 
			.damian.image
				= image_tag asset_path('cini1.png'), alt: ''
			%p
				%button.btn.btn-large.btn-danger.btn-aboutus{type: "button"}=t('.aboutus_more1')
				%button.btn.btn-large.btn-primary.btn-aboutus2{type: "button"}=t('.aboutus_more2')
.aboutus-description.toUpper 
	.full-block.aboutus_first 
		.birlestir
			%h2
				%hr.left>/          
				=t('.aboutus_more1')
				%hr.right/ 
	%p
		%span= t('.aboutus_1280')
	%p
		%span= t('.aboutus_1290')
		%span= t('.aboutus_1300')
	%p
		%span= t('.aboutus_1310')
		%span= t('.aboutus_1320')
		%span= t('.aboutus_1330')
		%span= t('.aboutus_1340')
		%span= t('.aboutus_1350')
		%span= t('.aboutus_1360')
		%span= t('.aboutus_1370')
	%p
		%span= t('.aboutus_1380')
	%p
		%span= t('.aboutus_1390')
		%span= t('.aboutus_1400')
		%span= t('.aboutus_1410')
		%span= t('.aboutus_1420')
		%span= t('.aboutus_1440')
		%span= t('.aboutus_1450')
		%span= t('.aboutus_1460')
		%span= t('.aboutus_1470')
	%p
		%span= t('.aboutus_1480')
		%span= t('.aboutus_1490')
		%span= t('.aboutus_1500')
		%span= t('.aboutus_1510')
		%span= t('.aboutus_1520')
	%p
		%span= t('.aboutus_1530')
		%span= t('.aboutus_1540')
		%span= t('.aboutus_1550')
		%span= t('.aboutus_1560')
		%span= t('.aboutus_1570')
	%p
		%span= t('.aboutus_1580')
		%span= t('.aboutus_1590')
		%span= t('.aboutus_1600')
		%span= t('.aboutus_1610')
		%span= t('.aboutus_1620')
		%span= t('.aboutus_1630')
		%span= t('.aboutus_1640')
		%span= t('.aboutus_1650')
	%p
		%span= t('.aboutus_1660')
		%span= t('.aboutus_1670')
		%span= t('.aboutus_1680')
		%span= t('.aboutus_1690')
	%br
	%br
	%p
		%span= t('.aboutus_1700')
		%span= t('.aboutus_1710')
		%span= t('.aboutus_1720')
		%span= t('.aboutus_1730')
		%span= t('.aboutus_1740')
		%span= t('.aboutus_1750')
	%p
		%span= t('.aboutus_1760')
		%span= t('.aboutus_1770')
		%span= t('.aboutus_1780')
		%span= t('.aboutus_1790')
		%span= t('.aboutus_1800')
		%span= t('.aboutus_1810')
	%p
		%span= t('.aboutus_1820')
		%span= t('.aboutus_1830')
		%span= t('.aboutus_1840')
		%span= t('.aboutus_1850')
		%span= t('.aboutus_1860')
		%span= t('.aboutus_1870')
		%span= t('.aboutus_1880')
		%span= t('.aboutus_1890')
		%span= t('.aboutus_1900')
		%span= t('.aboutus_1910')
		%span= t('.aboutus_1920')
	%p
		%span= t('.aboutus_1930')
		%span= t('.aboutus_1940')
		%span= t('.aboutus_1950')
		%span= t('.aboutus_1960')
		%span= t('.aboutus_1970')
		%span= t('.aboutus_1980')
		%span= t('.aboutus_1990')
		%span= t('.aboutus_2000')
		%span= t('.aboutus_2010')
	%p
		%span= t('.aboutus_2020')
	%p
		%span= t('.aboutus_2030')
		%span= t('.aboutus_2040')
		%span= t('.aboutus_2050')
		%span= t('.aboutus_2060')
		%span= t('.aboutus_2070')
	%p
		%span= t('.aboutus_2080')
	%p
		%span= t('.aboutus_2090')
		%span= t('.aboutus_2100')
		%span= t('.aboutus_2110')
		%span= t('.aboutus_2120')
		%span= t('.aboutus_2130')
	%br
	%br
	%p
		%span= t('.aboutus_2140')
		%span= t('.aboutus_2160')
		%span= t('.aboutus_2170')
		%span= t('.aboutus_2180')
		%span= t('.aboutus_2200')
		%span= t('.aboutus_2210')
		%span= t('.aboutus_2220')
		%span= t('.aboutus_2230')
		%span= t('.aboutus_2240')
	%p
		%span= t('.aboutus_2340')
		%span= t('.aboutus_2350')
		%span= t('.aboutus_2360')
		%span= t('.aboutus_2370')
		%span= t('.aboutus_2380')
		%span= t('.aboutus_2390')
		%span= t('.aboutus_2400')
		%span= t('.aboutus_2410')
		%span= t('.aboutus_2420')
	%p
		%span= t('.aboutus_2430')
	%p
		%span= t('.aboutus_3240')
		%span= t('.aboutus_3250')
		%span= t('.aboutus_3260')
		%span= t('.aboutus_3270')
		%span= t('.aboutus_3285')
	%p
		%span= t('.aboutus_3290')
		%span= t('.aboutus_3300')
		%span= t('.aboutus_3310')
		%span= t('.aboutus_3340')
		%span= t('.aboutus_3350')
	%p
		%span= t('.aboutus_3430')
		%span= t('.aboutus_3440')
		%span= t('.aboutus_3450')
		%span= t('.aboutus_3460')
	%p
		%span= t('.aboutus_3470')
		%span= t('.aboutus_3480')
		%span= t('.aboutus_3490')
	%p   
		%span= t('.aboutus_3500')
		%span= t('.aboutus_3510')
		%span= t('.aboutus_3520')
		%span= t('.aboutus_3530')
		%span= t('.aboutus_3540')
		%span= t('.aboutus_3550')
		%span= t('.aboutus_3560')
		%span= t('.aboutus_3570')
		%span= t('.aboutus_3580')
		%span= t('.aboutus_3590')
		%span= t('.aboutus_3600')
		%span= t('.aboutus_3610')
		%span= t('.aboutus_3620')
		%span= t('.aboutus_3630')
	%p
		%span= t('.aboutus_3640') 
	%p
		%span= t('.aboutus_3650')
		%span= t('.aboutus_3660')
		%span= t('.aboutus_3670')
	%p
		%span= t('.aboutus_3680')
		%span= t('.aboutus_3690')
		%span= t('.aboutus_3700')
		%span= t('.aboutus_3710')
 

.aboutus-success.toUpper 
	.full-block.aboutus_first  
		.birlestir
			%h2
				%hr.left>/          
				=t('.aboutus_more2')
				%hr.right/  
	%p
		%span=t('.aboutus_3800')
		%span=t('.aboutus_3810')
		%span=t('.aboutus_3820')
		%span=t('.aboutus_3830')
		%span=t('.aboutus_3840')
		%span=t('.aboutus_3850')
		%span=t('.aboutus_3860')
		%span=t('.aboutus_3870')
		%span=t('.aboutus_3880')
		%span=t('.aboutus_3890')
		%span=t('.aboutus_3900')
		%span=t('.aboutus_3910')
		%span=t('.aboutus_3920')
	%p
		%span=t('.aboutus_3930')
		%span=t('.aboutus_3940')
		%span=t('.aboutus_3950')
	%p
		%span=t('.aboutus_3960')
		%span=t('.aboutus_3970')
		%span=t('.aboutus_3980')
	%p
		%span=t('.aboutus_3990')
		%span=t('.aboutus_4000')
	%p
		%span=t('.aboutus_4010')
		%span=t('.aboutus_3020')
		%span=t('.aboutus_4030')
		%span=t('.aboutus_4040')
		%span=t('.aboutus_4050')
		%span=t('.aboutus_4060')
		%span=t('.aboutus_4070')
		%span=t('.aboutus_4080')
		%span=t('.aboutus_4090')
		%span=t('.aboutus_4100')
	%p
		%span=t('.aboutus_4120')
		%span=t('.aboutus_4130')
		%span=t('.aboutus_4140')
		%span=t('.aboutus_4150')
		%span=t('.aboutus_4160')
	%p
		%span=t('.aboutus_4170')
	%p
		%span=t('.aboutus_4180')
		%span=t('.aboutus_4190')
		%span=t('.aboutus_4191')
		%span=t('.aboutus_4192')
		%span=t('.aboutus_4193')
		%span=t('.aboutus_4195')
		%span=t('.aboutus_4197')
	%p
		%span=t('.aboutus_4198')
	%p
		%span=t('.aboutus_4230')
		%span=t('.aboutus_4250')
		%span=t('.aboutus_4260')
	%p
		%span=t('.aboutus_4270')
		%span=t('.aboutus_4280')
	%p
		%span=t('.aboutus_4290')
	%p
		%span=t('.aboutus_4300')
		%span=t('.aboutus_4310')
		%span=t('.aboutus_4320')
		%span=t('.aboutus_4330')
		%span=t('.aboutus_4340')
		%span=t('.aboutus_4350')
		%span=t('.aboutus_4360')
		%span=t('.aboutus_4370')
		%span=t('.aboutus_4375')
	%p
		%span=t('.aboutus_4380')
		%span=t('.aboutus_4390')
		%span=t('.aboutus_4395')
		%span=t('.aboutus_4400')
		%span=t('.aboutus_4410')
		%span=t('.aboutus_4420')
		%span=t('.aboutus_4430')
		%span=t('.aboutus_4440')
	%p
		%span=t('.aboutus_4450')
		%span=t('.aboutus_4460')
		%span=t('.aboutus_4470')
		%span=t('.aboutus_4480')
		%span=t('.aboutus_4490')
		%span=t('.aboutus_4500')
		%span=t('.aboutus_4510')
		%span=t('.aboutus_4520')
		%span=t('.aboutus_4530')
		%span=t('.aboutus_4540')
		%span=t('.aboutus_4543')
		%span=t('.aboutus_4544')
		%span=t('.aboutus_4550')
		%span=t('.aboutus_4560')
		%span=t('.aboutus_4570')
		%span=t('.aboutus_4580')
		%span=t('.aboutus_4590')
		%span=t('.aboutus_4600')
		%span=t('.aboutus_4610')
		%span=t('.aboutus_4620')
		%span=t('.aboutus_4625')
		%span=t('.aboutus_4626')
	%p
		%span=t('.aboutus_4630')
		%span=t('.aboutus_4640')
		%span=t('.aboutus_4650')
		%span=t('.aboutus_4660')
		%span=t('.aboutus_4670')
		%span=t('.aboutus_4680')
		%span=t('.aboutus_4690')
		%span=t('.aboutus_4700')
		%span=t('.aboutus_4710')
		%span=t('.aboutus_4720')
		%span=t('.aboutus_4730')
		%span=t('.aboutus_4740')
	%p    
		%span=t('.aboutus_4760')
		%span=t('.aboutus_4770')
		%span=t('.aboutus_4780')
	%p
		%span=t('.aboutus_4790')
		%span=t('.aboutus_4800')
		%span=t('.aboutus_4810')
		%span=t('.aboutus_4820')
		%span=t('.aboutus_4830')
		%span=t('.aboutus_4840')
		%span=t('.aboutus_4850')
		%span=t('.aboutus_4860')
		%span=t('.aboutus_4870')

